@model PMCP2.Models.Parameter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="row border-bottom white-bg dashboard-header">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Parameter</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ParameterCategory.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParameterCategory.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParameterName.parameterNameName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParameterName.parameterNameName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParametersUnitType.unitType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParametersUnitType.unitType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParemeterCalcGroup.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParemeterCalcGroup.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParameterWight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParameterWight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.networkType_FKID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.networkType_FKID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isRquired)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isRquired)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>