@model PMCP2.Models.Parameter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parameter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParameterCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParameterCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParameterName.parameterNameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParameterName.parameterNameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParametersUnitType.unitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParametersUnitType.unitType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParemeterCalcGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParemeterCalcGroup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParameterWight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParameterWight)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.networkType_FKID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.networkType_FKID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isRquired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isRquired)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
