@model IEnumerable<PMCPV2.Models.ParametersUnitType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row border-bottom white-bg dashboard-header">
    <p>
        @Html.ActionLink("Create New", "Create")| @Html.ActionLink("Back ", "../Manage")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.unitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitMesurment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.unitType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unitMesurment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
