@model PMCP2.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="row border-bottom white-bg dashboard-header">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User1.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User1.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.token)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.token)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.role)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.modirate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modirate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.regon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.regon)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
