@model PMCP2.Models.Contractor

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <h2>Delete</h2>
    <div class="row border-bottom white-bg dashboard-header">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Contractor</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.contactName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.contactName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.contactMobile)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.contactMobile)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.contactEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.contactEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Notes)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
