@model IEnumerable<PMCPV2.Models.Contractor>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>

    <div class="row border-bottom white-bg dashboard-header">
        <p>
            @Html.ActionLink("Create New", "Create")| @Html.ActionLink("Back ", "../Manage")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contactMobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contactEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contactMobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contactEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
